<div class="module form-module">
  <div class="form">
    <h2>Login to your account</h2>
    <form [formGroup]='loginForm' novalidate>

      <p *ngIf="message" class="validation">{{ message }}</p>

      <input formControlName='username'
             placeholder="Username"
             [class.invalid]="username.invalid && username.touched && submitted">

      <div *ngIf="username.invalid && submitted">
        <p *ngIf="(username.dirty || username.touched) && username.errors.required" class="validation">required</p>
        <p *ngIf="(username.dirty || username.touched) && username.errors.minlength" class="validation">at least 8
          characters long</p>
      </div>

      <input type="password" placeholder="Password" name="password"
             [formControl]="loginForm.controls['password']"
             [class.invalid]="password.invalid && password.touched && submitted"/>

      <div *ngIf="password.invalid && submitted">
        <p *ngIf="(password.dirty || password.touched) && password.errors.required" class="validation">required</p>
        <p *ngIf="(password.dirty || password.touched) && password.errors.minlength" class="validation">at least 8
          characters long</p>
      </div>

      <button (click)="login()" [class.disabled]="sent" [disabled]="sent">
        Login
      </button>

      <p><a [routerLink]="['/forgotpassword']">Forgot your password?</a></p>
      <button class="social fb">Login with Facebook</button>
      <button class="social twt">Login with Twitter</button>
    </form>
  </div>

  <div class="cta"><a class="toggle" [routerLink]="['/register']">NO ACCOUNT YET? SIGN-UP!</a></div>
</div>
