<div class="module form-module">
  <div class="form">
    <h2>Forgot password</h2>

    <form [hidden]="submitted" (ngSubmit)="submit(forgotForm.value)" [formGroup]="forgotPasswordForm">

      <p class="validation">{{responseMessage}}</p>

      <input type="text" placeholder="Username"
             [formControl]="forgotPasswordForm.controls['username']"
      />
             <!--[class.invalid]="fh.isInvalid(forgotForm, 'username')"-->

      <!--<p *ngIf="fh.hasError(forgotForm, 'minlength', 'username')" class="validation">minimum 4 characters</p>-->

      <input type="email" placeholder="Email Address"
             [formControl]="forgotPasswordForm.controls['email']"
      >
             <!--[class.invalid]="fh.isInvalid(forgotForm, 'email')"-->

      <!--<p *ngIf="fh.hasError(forgotForm, 'incorrectMailFormat', 'email')" class="validation">email is not correct</p>-->

      <button type="submit" [disabled]="!forgotPasswordForm.valid">Remind password</button>
    </form>

    <div [hidden]="!submitted">

      {{ forgotForm.value | json }}
    </div>
  </div>

  <div class="cta"><a class="toggle" [routerLink]="['/register']">NO ACCOUNT YET? SIGN-UP!</a></div>
</div>
